@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --semantic-background-primary: #06151E;

  --semantic-border-primary: #31577D;

  --semantic-type-primary: #fff;
  --semantic-type-secondary: #ADF9EB;

  --semantic-action-prority-primary-background: #fff;
  --semantic-action-prority-primary-hover: #E0D7F9;
  --semantic-action-prority-primary-text: #333;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
