@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --semantic-background-primary: #06151e;
  --semantic-background-secondary: #002033;
  --semantic-type-primary: #fff;
  --semantic-action-prority-background: #5128c3;
  --semantic-action-prority-hover: #00304d;
  --semantic-action-prority-text: #fff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
